openapi: "3.1.0"
info:
  title: bhatti API
  description: |
    bhatti creates isolated Linux VMs in seconds. Each sandbox has its own kernel,
    filesystem, and network. Paused sandboxes resume in under 3ms.

    All endpoints require `Authorization: Bearer <token>` except `/health`.
  version: "0.5"
  contact:
    name: Sahil Shubham
    url: https://bhatti.sh
  license:
    name: Source Available
    url: https://github.com/sahil-shubham/bhatti/blob/main/LICENSE

servers:
  - url: https://api.bhatti.sh
    description: Production
  - url: http://localhost:8080
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: System
    description: Health check (unauthenticated)
  - name: Sandboxes
    description: Create, manage, and destroy isolated Linux VMs
  - name: Execution
    description: Execute commands and open interactive shells
  - name: Files
    description: Read, write, and list files inside sandboxes
  - name: Networking
    description: Port discovery, reverse proxy, and public URLs
  - name: Templates
    description: Reusable sandbox configurations
  - name: Secrets
    description: Encrypted secret management (age encryption at rest)
  - name: Volumes
    description: Persistent ext4 volumes that survive sandbox destruction
  - name: Backups
    description: Volume backups to S3-compatible storage
  - name: Images
    description: Rootfs images from OCI registries, Docker, or sandbox snapshots
  - name: Snapshots
    description: Named VM snapshots (full memory + CPU + disk state)
  - name: Tasks
    description: Async operation tracking (image pulls)

paths:
  /health:
    get:
      operationId: getHealth
      summary: "Health check"
      description: "Returns server status and uptime. No authentication required."
      tags:
        - System
      responses:

        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: "ok" }
                  uptime: { type: string, example: "2h15m30s" }
  /sandboxes:
    get:
      operationId: listSandboxes
      summary: "List sandboxes"
      description: "List all sandboxes owned by the authenticated user. Includes thermal state and published URLs."
      tags:
        - Sandboxes
      responses:

        "200":
          description: List of sandboxes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Sandbox"
    post:
      operationId: createSandbox
      summary: "Create a sandbox"
      description: "Create a new sandbox VM. Supports direct creation (specify resources inline) or template-based creation. Each sandbox is an isolated Linux environment with its own kernel, filesystem, and network."
      tags:
        - Sandboxes
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, description: "Sandbox name (auto-generated if omitted)", example: "dev" }
                template_id: { type: string, description: "Template ID for template-based creation" }
                image: { type: string, description: "Rootfs image name", example: "python-3.12" }
                cpus: { type: number, description: "Number of vCPUs", default: 1, example: 2 }
                memory_mb: { type: integer, description: "Memory in MB", default: 2048, example: 1024 }
                disk_size_mb: { type: integer, description: "Rootfs disk size in MB (0 = use image size)" }
                env: { type: object, additionalProperties: { type: string }, description: "Environment variables", example: { "API_KEY": "sk-..." } }
                init: { type: string, description: "Init script to run at boot", example: "cd /workspace && npm install" }
                keep_hot: { type: boolean, description: "Prevent thermal manager from pausing this sandbox", default: false }
                hugepages: { type: boolean, description: "Use 2MB hugepages for memory", default: false }
                persistent_volumes:
                  type: array
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      mount: { type: string }
                      auto_create: { type: boolean }
                      size_mb: { type: integer }
                      read_only: { type: boolean }
      responses:

        "201":
          description: Sandbox created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sandbox"
        "409":
          description: Sandbox name already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Sandbox limit reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /sandboxes/{id}:
    get:
      operationId: getSandbox
      summary: "Get sandbox details"
      description: "Get details of a specific sandbox. Status is refreshed from the engine."
      tags:
        - Sandboxes
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
          description: Sandbox ID
      responses:

        "200":
          description: Sandbox details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sandbox"
        "404":
          description: Sandbox not found
    patch:
      operationId: updateSandbox
      summary: "Update sandbox settings"
      description: "Update mutable sandbox properties. Currently supports toggling keep_hot. Setting keep_hot=true immediately wakes the sandbox."
      tags:
        - Sandboxes
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keep_hot: { type: boolean, description: "Prevent thermal transitions" }
      responses:

        "200":
          description: Updated sandbox
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sandbox"
    delete:
      operationId: destroySandbox
      summary: "Destroy a sandbox"
      description: "Permanently destroy a sandbox and all its data. Persistent volumes are detached but not deleted. Published URLs are cleaned up."
      tags:
        - Sandboxes
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Sandbox destroyed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: "destroyed" }
  /sandboxes/{id}/stop:
    post:
      operationId: stopSandbox
      summary: "Snapshot and stop"
      description: "Pause the sandbox and save a snapshot to disk. First stop creates a full snapshot; subsequent stops create diff snapshots (dirty pages only). Resume with start."
      tags:
        - Sandboxes
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Sandbox stopped
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sandbox"
  /sandboxes/{id}/start:
    post:
      operationId: startSandbox
      summary: "Resume a stopped sandbox"
      description: "Restore a sandbox from its snapshot. Continues exactly where it left off — processes running, files open."
      tags:
        - Sandboxes
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Sandbox started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sandbox"
  /sandboxes/{id}/exec:
    post:
      operationId: execCommand
      summary: "Execute a command"
      description: "Execute a command inside a sandbox. Sleeping sandboxes wake automatically. Supports buffered JSON response (default) or streaming NDJSON (set Accept: application/x-ndjson)."
      tags:
        - Execution
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cmd]
              properties:
                cmd:
                  type: array
                  items: { type: string }
                  description: Command and arguments
                  example: ["echo", "hello"]
                timeout_sec:
                  type: integer
                  description: "Exec timeout in seconds (default: 300, max: 3600)"
      responses:

        "200":
          description: Command result (buffered)
          content:
            application/json:
              schema:
                type: object
                properties:
                  exit_code: { type: integer, example: 0 }
                  stdout: { type: string, example: "hello\n" }
                  stderr: { type: string, example: "" }
            application/x-ndjson:
              schema:
                description: "Streaming NDJSON — one event per line, flushed immediately"
                type: object
                properties:
                  type: { type: string, enum: [stdout, stderr, exit, error] }
                  data: { type: string }
                  exit_code: { type: integer }
  /sandboxes/{id}/ws:
    get:
      operationId: shellWebSocket
      summary: "Interactive shell (WebSocket)"
      description: "Upgrade to WebSocket for an interactive terminal. Supports session reattach (detached sessions keep running). Send binary messages for keystrokes, text messages with JSON {\"type\":\"resize\",\"rows\":N,\"cols\":N} for terminal resize."
      tags:
        - Execution
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: session
          in: query
          schema: { type: string }
          description: Session ID to reattach to
        - name: new
          in: query
          schema: { type: string, enum: ["true"] }
          description: Force a new session (don't reattach)
      responses:

        "101":
          description: WebSocket upgrade successful
  /sandboxes/{id}/files:
    get:
      operationId: readFile
      summary: "Read a file or list directory"
      description: "Read file content or list a directory. Supports server-side truncation with offset/limit/max_bytes parameters. Set ls=true to list directory contents."
      tags:
        - Files
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: path
          in: query
          required: true
          schema: { type: string }
          description: Absolute path inside the sandbox
          example: /workspace/app.js
        - name: ls
          in: query
          schema: { type: string, enum: ["true"] }
          description: List directory contents instead of reading file
        - name: offset
          in: query
          schema: { type: integer }
          description: 1-indexed line number to start from
        - name: limit
          in: query
          schema: { type: integer }
          description: Maximum lines to return
        - name: max_bytes
          in: query
          schema: { type: integer }
          description: Maximum bytes to return
      responses:

        "200":
          description: File content or directory listing
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                description: Raw file content (for file reads)
            application/json:
              schema:
                type: array
                description: Directory listing (when ls=true)
                items:
                  type: object
                  properties:
                    name: { type: string }
                    size: { type: integer }
                    mode: { type: string }
                    is_dir: { type: boolean }
                    mtime: { type: integer }
    put:
      operationId: writeFile
      summary: "Write a file"
      description: "Write content to a file inside the sandbox. Content-Length header is required. Writes are atomic (temp file + rename) — concurrent readers never see partial content."
      tags:
        - Files
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: path
          in: query
          required: true
          schema: { type: string }
        - name: mode
          in: query
          schema: { type: string, default: "0644" }
          description: File permissions
      requestBody:

        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:

        "200":
          description: File written
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: "ok" }
    head:
      operationId: statFile
      summary: "Stat a file"
      description: "Get file metadata without reading content. Returns X-File-Size, X-File-Mode, and X-File-IsDir headers."
      tags:
        - Files
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: path
          in: query
          required: true
          schema: { type: string }
      responses:

        "200":
          description: File metadata in headers
          headers:
            X-File-Size: { schema: { type: integer }, description: "File size in bytes" }
            X-File-Mode: { schema: { type: string }, description: "Permissions (e.g., 0644)" }
            X-File-IsDir: { schema: { type: string }, description: "true or false" }
  /sandboxes/{id}/sessions:
    get:
      operationId: listSessions
      summary: "List sessions"
      description: "List all sessions (init scripts, shells) running inside the sandbox."
      tags:
        - Execution
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Session list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    session_id: { type: string }
                    argv: { type: string }
                    tty: { type: boolean }
                    running: { type: boolean }
                    attached: { type: boolean }
                    created_at: { type: integer }
  /sandboxes/{id}/ports:
    get:
      operationId: listSandboxPorts
      summary: "List listening ports"
      description: "List all listening TCP ports inside a sandbox."
      tags:
        - Networking
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Listening ports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PortInfo"
  /ports:
    get:
      operationId: listAllPorts
      summary: "List all listening ports"
      description: "List all listening ports across all running sandboxes owned by the authenticated user."
      tags:
        - Networking
      responses:

        "200":
          description: All listening ports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PortInfo"
  /sandboxes/{id}/proxy/{port}/{path}:
    get:
      operationId: proxyRequest
      summary: "Reverse proxy to sandbox"
      description: "HTTP requests and WebSocket connections are tunneled through the engine into the sandbox. The request is rewritten to target localhost:{port} inside the VM. Supports all HTTP methods."
      tags:
        - Networking
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: port
          in: path
          required: true
          schema: { type: integer, minimum: 1, maximum: 65535 }
        - name: path
          in: path
          required: false
          schema: { type: string }
      responses:

        "200":
          description: Proxied response from the sandbox
        "502":
          description: Bad gateway (sandbox process not listening)
  /sandboxes/{id}/publish:
    post:
      operationId: publishPort
      summary: "Publish a port"
      description: "Publish a sandbox port with a public URL (e.g., my-app.bhatti.sh). The URL is publicly accessible without authentication. Sandboxes wake automatically from any thermal state when a request arrives."
      tags:
        - Networking
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [port]
              properties:
                port: { type: integer, minimum: 1, maximum: 65535, example: 3000 }
                alias: { type: string, description: "Custom alias (auto-generated if omitted)", example: "my-app" }
      responses:

        "201":
          description: Port published
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  sandbox_id: { type: string }
                  port: { type: integer }
                  alias: { type: string }
                  url: { type: string, example: "https://my-app.bhatti.sh" }
                  created_at: { type: string, format: date-time }
        "409":
          description: Alias already taken or port already published
    get:
      operationId: listPublishRules
      summary: "List published ports"
      tags:
        - Networking
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Published ports
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    port: { type: integer }
                    alias: { type: string }
                    url: { type: string }
  /sandboxes/{id}/publish/{port}:
    delete:
      operationId: unpublishPort
      summary: "Unpublish a port"
      description: "Remove a published port. The URL stops working immediately."
      tags:
        - Networking
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: port
          in: path
          required: true
          schema: { type: integer }
      responses:

        "204":
          description: Port unpublished
  /templates:
    get:
      operationId: listTemplates
      summary: "List templates"
      tags:
        - Templates
      responses:

        "200":
          description: Template list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Template"
    post:
      operationId: createTemplate
      summary: "Create a template"
      tags:
        - Templates
      requestBody:

        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Template"
      responses:

        "201":
          description: Template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
  /templates/{id}:
    get:
      operationId: getTemplate
      summary: "Get a template"
      tags:
        - Templates
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Template details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Template"
    delete:
      operationId: deleteTemplate
      summary: "Delete a template"
      tags:
        - Templates
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Template deleted
  /secrets:
    get:
      operationId: listSecrets
      summary: "List secrets"
      description: "List secret names (values are never returned). Secrets are encrypted at rest with age."
      tags:
        - Secrets
      responses:

        "200":
          description: Secret names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name: { type: string }
                    created_at: { type: string, format: date-time }
    post:
      operationId: createSecret
      summary: "Create or update a secret"
      tags:
        - Secrets
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, value]
              properties:
                name: { type: string, example: "API_KEY" }
                value: { type: string, example: "sk-abc123" }
      responses:

        "201":
          description: Secret created
  /secrets/{name}:
    delete:
      operationId: deleteSecret
      summary: "Delete a secret"
      tags:
        - Secrets
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Secret deleted
  /volumes:
    get:
      operationId: listVolumes
      summary: "List persistent volumes"
      tags:
        - Volumes
      responses:

        "200":
          description: Volume list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Volume"
    post:
      operationId: createVolume
      summary: "Create a persistent volume"
      description: "Create an ext4 persistent volume. Survives sandbox destruction. Attach with persistent_volumes on sandbox create."
      tags:
        - Volumes
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, size_mb]
              properties:
                name: { type: string, example: "workspace" }
                size_mb: { type: integer, minimum: 1, example: 5120 }
      responses:

        "201":
          description: Volume created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Volume"
        "409":
          description: Volume name already exists
        "429":
          description: Storage quota exceeded
  /volumes/{name}:
    get:
      operationId: getVolume
      summary: "Get volume details"
      tags:
        - Volumes
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Volume details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Volume"
    delete:
      operationId: deleteVolume
      summary: "Delete a volume"
      description: "Delete a persistent volume. Fails if the volume is currently attached to a sandbox."
      tags:
        - Volumes
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Volume deleted
        "409":
          description: Volume is attached to a sandbox
  /volumes/{name}/resize:
    post:
      operationId: resizeVolume
      summary: "Resize a volume (grow only)"
      tags:
        - Volumes
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [size_mb]
              properties:
                size_mb: { type: integer, description: "New size (must be larger than current)" }
      responses:

        "200":
          description: Volume resized
  /volumes/{name}/snapshot:
    post:
      operationId: snapshotVolume
      summary: "Create a volume copy"
      description: "Create an independent copy (snapshot) of a persistent volume. Volume must be detached."
      tags:
        - Volumes
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, description: "Name for the new volume copy" }
      responses:

        "201":
          description: Volume copy created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Volume"
  /volumes/{name}/backups:
    get:
      operationId: listVolumeBackups
      summary: "List volume backups"
      tags:
        - Backups
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Backup list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VolumeBackup"
    post:
      operationId: backupVolume
      summary: "Backup a volume to S3"
      description: "Create a compressed (zstd) backup of a volume and upload to S3-compatible storage."
      tags:
        - Backups
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:

        "201":
          description: Backup created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VolumeBackup"
  /volumes/{name}/backups/restore:
    post:
      operationId: restoreVolumeBackup
      summary: "Restore a volume from backup"
      description: "Restore a volume from a previous backup. Volume must be detached."
      tags:
        - Backups
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [backup_id]
              properties:
                backup_id: { type: string }
      responses:

        "200":
          description: Volume restored
        "409":
          description: Volume is attached
  /volumes/{name}/backups/{backupId}:
    delete:
      operationId: deleteVolumeBackup
      summary: "Delete a backup"
      tags:
        - Backups
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
        - name: backupId
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Backup deleted
  /images:
    get:
      operationId: listImages
      summary: "List images"
      description: "List all rootfs images available to the authenticated user (own images + admin images + shared images)."
      tags:
        - Images
      responses:

        "200":
          description: Image list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Image"
  /images/{name}:
    get:
      operationId: getImage
      summary: "Get image details"
      tags:
        - Images
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Image details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
    delete:
      operationId: deleteImage
      summary: "Delete an image"
      tags:
        - Images
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Image deleted
  /images/pull:
    post:
      operationId: pullImage
      summary: "Pull an OCI image"
      description: "Pull a public OCI/Docker image from any registry and convert it to an ext4 rootfs. Returns a task ID for polling. If the image already exists with the same digest, returns immediately."
      tags:
        - Images
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, name]
              properties:
                ref: { type: string, example: "python:3.12" }
                name: { type: string, example: "python-3.12" }
                auth: { type: string, description: "Registry auth (user:token)" }
      responses:

        "202":
          description: Pull started (async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id: { type: string }
                  status: { type: string, example: "running" }
        "200":
          description: Image already exists with same digest
  /images/import:
    post:
      operationId: importImage
      summary: "Import image from tarball"
      description: "Import a Docker save tarball and convert to ext4 rootfs. Stream the tarball as the request body."
      tags:
        - Images
      parameters:

        - name: name
          in: query
          required: true
          schema: { type: string }
      requestBody:

        required: true
        content:
          application/x-tar:
            schema:
              type: string
              format: binary
      responses:

        "201":
          description: Image imported
          content:
            application/json:
              schema:
                type: object
                properties:
                  name: { type: string }
                  size_mb: { type: integer }
  /sandboxes/{id}/save-image:
    post:
      operationId: saveImage
      summary: "Save sandbox as image"
      description: "Save the current rootfs of a running sandbox as a reusable image."
      tags:
        - Images
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:

        "201":
          description: Image saved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
  /snapshots:
    get:
      operationId: listSnapshots
      summary: "List named snapshots"
      tags:
        - Snapshots
      responses:

        "200":
          description: Snapshot list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Snapshot"
  /snapshots/{name}:
    get:
      operationId: getSnapshot
      summary: "Get snapshot details"
      tags:
        - Snapshots
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Snapshot details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Snapshot"
    delete:
      operationId: deleteSnapshot
      summary: "Delete a snapshot"
      tags:
        - Snapshots
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Snapshot deleted
  /sandboxes/{id}/checkpoint:
    post:
      operationId: createCheckpoint
      summary: "Create a named snapshot"
      description: "Checkpoint a running sandbox — captures entire VM state: memory, CPU, disk. Resume produces an exact continuation."
      tags:
        - Snapshots
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:

        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:

        "201":
          description: Checkpoint created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Snapshot"
        "429":
          description: Snapshot limit reached
  /snapshots/{name}/resume:
    post:
      operationId: resumeSnapshot
      summary: "Resume from snapshot"
      description: "Create a new sandbox by resuming from a named snapshot. The new sandbox is an exact copy of the VM at checkpoint time."
      tags:
        - Snapshots
      parameters:

        - name: name
          in: path
          required: true
          schema: { type: string }
      requestBody:

        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, description: "New sandbox name (auto-generated if omitted)" }
      responses:

        "201":
          description: Sandbox created from snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sandbox"
  /tasks/{id}:
    get:
      operationId: getTask
      summary: "Get task status"
      description: "Check the status of an async operation (e.g., image pull)."
      tags:
        - Tasks
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Task status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  status: { type: string, enum: [running, completed, failed] }
                  progress: { type: string }
                  error: { type: string }
                  result: { type: string }
    delete:
      operationId: cancelTask
      summary: "Cancel a task"
      tags:
        - Tasks
      parameters:

        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:

        "200":
          description: Task cancelled

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "API key (e.g., bht_abc123...)"

  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        request_id: { type: string }

    Sandbox:
      type: object
      properties:
        id: { type: string, example: "a1b2c3d4e5f6g7h8" }
        name: { type: string, example: "dev" }
        template_id: { type: string }
        engine_id: { type: string }
        status: { type: string, enum: [running, stopped, unknown, destroyed] }
        ip: { type: string, example: "192.168.137.2" }
        created_by: { type: string }
        created_at: { type: string, format: date-time }
        stopped_at: { type: string, format: date-time }
        keep_hot: { type: boolean }
        thermal: { type: string, enum: [hot, warm, cold] }
        urls: { type: array, items: { type: string } }

    Template:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        engine: { type: string, default: "firecracker" }
        image: { type: string }
        cpus: { type: number, default: 1 }
        memory_mb: { type: integer, default: 2048 }
        labels: { type: object, additionalProperties: { type: string } }
        user_data: { type: string }
        secrets: { type: array, items: { type: string } }
        created_at: { type: string, format: date-time }

    Volume:
      type: object
      properties:
        id: { type: string }
        name: { type: string, example: "workspace" }
        size_mb: { type: integer, example: 5120 }
        status: { type: string, enum: [creating, ready] }
        created_at: { type: string, format: date-time }
        attachments:
          type: array
          items:
            type: object
            properties:
              sandbox_id: { type: string }
              mount: { type: string }
              read_only: { type: boolean }

    VolumeBackup:
      type: object
      properties:
        id: { type: string }
        volume_name: { type: string }
        s3_key: { type: string }
        size_bytes: { type: integer }
        created_at: { type: string, format: date-time }

    Image:
      type: object
      properties:
        id: { type: string }
        name: { type: string, example: "python-3.12" }
        source: { type: string, example: "oci:python:3.12" }
        size_mb: { type: integer }
        oci_digest: { type: string }
        created_at: { type: string, format: date-time }

    Snapshot:
      type: object
      properties:
        id: { type: string }
        name: { type: string, example: "dev-ready" }
        source_sandbox: { type: string }
        size_mb: { type: integer }
        created_at: { type: string, format: date-time }

    PortInfo:
      type: object
      properties:
        sandbox_id: { type: string }
        container_port: { type: integer, example: 3000 }
        proxy_url: { type: string, example: "/sandboxes/abc123/proxy/3000/" }
